:root {
    --bg-color: #fff;
    --main-text-color: #212121;
    --main-brand-color: #7fbef1;
    --main-brand-color-light: #bbdefb;
    --main-brand-color-dark: #1976d2;
    --input-bg-color: #333;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    width: 90%;
    margin: 0 auto;
    max-width: 768px;
}

a {
    text-decoration: none;
}

a.hide, a.hide2 {
    display: none;
}

h2 {
    font-family: 'Mrs Saint Delafield';
    font-size: 40px;
    margin: 1rem auto;
    max-width: 800px;
}

article, h3 {
    margin: 1rem auto;
    max-width: 800px;
    text-align: justify;
}

@media screen and (width > 450px) {
    a.hide {
        display: block
    }
}

@media screen and (width > 325px) {
    a.hide2 {
        display: block;
    }
}