:root {
    --bg-color: #fff;
    --main-text-color: #212121;
    --main-brand-color: #7fbef1;
    --main-brand-color-light: #bbdefb;
    --main-brand-color-dark: #1976d2;
    --input-bg-color: #333;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

a.hide, a.hide2 {
    display: none;
}

@media screen and (min-width: 450px) {
    a.hide {
        display: block
    }
}

@media screen and (min-width: 325px) {
    a.hide2 {
        display: block;
    }
}

p, h2, h3 {
    margin: 1rem auto;
    max-width: 800px;
    text-align: justify;
}