.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}

.icons {
  padding: 1rem;
  border-top: 1px solid var(--main-brand-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}